<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создание рейса</title>
    <link rel="stylesheet" href="/static/styles/create_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div id="page">
        <div id="content">
            <form method="POST" action="/create" enctype="multipart/form-data">
                <div class="field-group">
                    <span class="field-label">Планета-отправитель:</span>
                    <input class="field-value" type="text" name="planet_start"
                           value="{{ .Card.Planet_start }}" placeholder="Введите название">
                </div>

                <div class="field-group">
                    <span class="field-label">Планета-получатель:</span>
                    <input class="field-value" type="text" name="planet_end"
                           value="{{ .Card.Planet_end }}" placeholder="Введите название">
                </div>

                <div class="field-group">
                    <span class="field-label">Масса корабля:</span>
                    <input class="field-value" type="number" name="spaceship_mass"
                           value="{{ .Card.Spaceship_mass }}" placeholder="0">
                </div>

                <div class="field-group textarea-group">
                    <span class="field-label">Доп. информация:</span>
                    <textarea class="field-value textarea-value" name="special_info" 
                              rows="3" placeholder="Введите дополнительную информацию...">{{ .Card.Special_info }}</textarea>
                </div>

                <div class="file-block">
                    <span class="file-label">Фото:</span>
                    <div class="file-controls">
                        <input type="file" name="photo" accept="image/*">
                    </div>
                </div>

                <div class="file-block">
                    <span class="file-label">Видео:</span>
                    <div class="file-controls">
                        <input type="file" name="video" accept="video/*">
                    </div>
                </div>
            </form>
        </div>

        <div id="bottom-bar">
            <div class="extra-btn nav-button"><img src = "/static/img/Icon-save.png"></div>
            <div class="nav-btn"><a href="/vibes/1"><img src = "/static/img/Icon-home.png"></a></div>
            <div class="nav-btn active"><img src = "/static/img/Icon-plus.png"></div>
            <div class="nav-btn"><a href="/cards"><img src = "/static/img/Icon-plates.png"></a></div>
        </div>
    </div>
</body>
</html>